body, html {
  height: 70%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

body {
  color: #00ff00;
  font-family: 'Courier New', monospace;
  font-weight: 900;
  overflow: hidden;
}

#container {
  text-align: center;
  max-width: 600px; /* Limite la largeur pour les grands écrans */
  width: 100%; /* Utilise une largeur relative pour les petits écrans */
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); /* Ajoute un peu d'ombre pour du style */
  background: rgba(0, 0, 0, 0.8); /* Arrière-plan légèrement transparent */
  border-radius: 10px; /* Bords arrondis pour le conteneur */
  position: relative;
  z-index: 2; /* Assure que le conteneur reste au-dessus du fond vidéo */
}

#background-video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Garde la vidéo en arrière-plan */
}

button {
  margin: 5px;
  background-color: #000;
  color: #00ff00;
  border: 1px solid #00ff00;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #00ff00;
  color: #000;
}

@media screen and (max-width: 600px) {
  #result, #word, button, h2 {
    font-size: 16px; /* Taille de police adaptée pour les petits écrans */
  }
  button {
    padding: 8px 12px; /* Ajustement de la taille des boutons pour les petits écrans */
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  h2, #result, #word, button {
    font-size: 14px; /* Encore plus petit pour les très petits écrans */
  }
}
